<!doctype html>
<html lang="en">
<head>
  <title>Newswall</title>
  <link rel="stylesheet" href="https://kit.fontawesome.com/a22be8527e.css" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <style>
    .emulator {
      height: <%=display.height%>px;
      width: <%=display.width%>px;
      filter: grayscale(100);
      border: 60px solid;
      box-sizing: content-box;
      overflow: hidden;
      box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.5);
      margin-bottom: 100px;
      background-color: <%= env.isProd ? 'white' : 'red' %>;
    }
    .url {
      outline: solid;
      width: <%=display.width/2%>px;
    }
    body {
      background-color: #f9f7f1;
    }
  </style>
  <script>
    function emulate(mode) {
      let url = '/latest'
      const urls = {newspapers: '?papers=', devices: '?deviceId='}
      for (const i in urls) {
        if (mode === i) {
          const items = $(`input[name=${i}]:checked`).map(function () {return this.value}).get()
          if (items.length) url += urls[i] + items.join(',')
        } else {
          $(`input[name=${i}]`).prop('checked', false)
        }
      }
      $('#url').html(`<a href="${url}" target="_blank">${window.location.protocol + '//' + window.location.host + url}</a>`)
      $('#emulator').prop('src', url)
    }
  </script>
</head>
<body onload=emulate()>
<div class="container">
  <h1>Newswall <a class="link-dark" href="https://github.com/pathikrit/newswall" target="_blank"><i class="fa-brands fa-github"></i></a></h1>
  <p class="lead">a little node.js website to render newspapers for
    <a href="https://www.visionect.com/shop/place-play-32/ref/pathikrit/" target="_blank">e-ink displays</a>
    (original idea by <a href="https://onezero.medium.com/the-morning-paper-revisited-35b407822494" target="_blank">Max Braun</a>)
  </p>
  <div class="float-start border border-dark ms-1 mb-3 me-5"><img class="img-fluid" alt="My Frame" src="https://i.imgur.com/g7IWzEU.jpg" height="600" width="338"></div>
  <ul>
    <li>
      <a href="/latest"><code>/latest</code></a>: Cycles through front pages of <a href="https://github.com/pathikrit/newswall/blob/master/db.js" target="_blank"> supported newspapers</a> on each refresh.
      <em>You should point your e-ink device to this.</em>
    </li>
    <li><a href="/archive"><code>/archive</code></a>: Browse the raw newspaper files on this server.
  </ul>
  <p><small>Most of the papers come from <a href="https://www.freedomforum.org/todaysfrontpages/" target="_blank">The Freedom Forum</a> - please consider <a href="https://www.freedomforum.org/support/" target="_blank">supporting</a> them.</small></p>
  <h3>Emulator</h3>
  <form class="card p-2 bg-body-secondary">
    <% Object.keys(db).forEach(table => { %>
    <h5 class="form-label text-capitalize"><%=table%></h5>
    <div class="input-group">
      <% db[table].forEach(item => { %>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="<%=item.url ? 'checkbox' : 'radio'%>" id="<%=item.id%>" name="<%=table%>" value="<%=item.id%>" onclick=emulate(this.name)>
        <label class="form-check-label" for="<%=item.id%>"><%=item.name%></label>
      </div>
      <% }) %>
    </div>
    <hr>
    <% }) %>
    <div class="input-group">
      <p id="url" class="m-2 p-1 font-monospace url small"></p>
      <button type="button" class="btn btn-dark rounded-pill" onclick="emulate()">Reset</button>
    </div>
  </form>
  <iframe id="emulator" class="emulator" scrolling="no"></iframe>
</div>
</body>
</html>
