<!doctype html>
<html lang="en">
<head>
    <title>Newswall</title>
    <link rel="stylesheet" href="https://kit.fontawesome.com/a22be8527e.css" crossorigin="anonymous">
    <style>
        li {
            margin: 5px;
        }
        .emulator {
            height: <%=display.height%>px;
            width: <%=display.width%>px;
            filter: grayscale(100);
            border: 50px solid black;
            overflow: hidden;
            box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
        }
    </style>
</head>
<body>
<h1>Newswall <a href="https://github.com/pathikrit/newswall" target="_blank"><i class="fa-brands fa-github"></i></a></h1>
<p>This is a little node.js website to render newspapers for
    <a href="https://www.visionect.com/shop/place-play-32/ref/pathikrit/" target="_blank">e-ink displays</a>
    (original idea by <a href="https://onezero.medium.com/the-morning-paper-revisited-35b407822494" target="_blank">Max Braun</a>)</p>
<p><img alt="My Frame" src="/my" height="600" width="338"></p>
<ul>
    <li>
        <a href="/latest"><code>/latest</code></a>: Cycles through front pages of newspapers on each refresh.
        <i>You should point your e-ink device to this.</i>
    </li>
    <li><a href="/archive"><code>/archive</code></a>: Browse the raw newspaper files on this server.
</ul>
<p>Most of the papers come from <a href="https://www.freedomforum.org/todaysfrontpages/" target="_blank">The Freedom Forum</a> - please consider <a href="https://www.freedomforum.org/support/" target="_blank">supporting</a> them.</p>
<div style="text-align: center">
    <h2>Emulator</h2>
    <% if (db.newspapers.length > 1) { %>
        <div>
            <% db.newspapers.forEach((paper) => { %>
                <input type="radio" id="<%=paper.id%>" name="newspaper" value="<%=paper.id%>>" onclick="document.getElementById('emulator').src = '/latest?paper=<%=paper.id%>'">
                <label for="<%=paper.id%>"><%=paper.name%></label>
            <% }) %>
        </div>
        <br/>
    <% } %>
    <iframe id="emulator" class="emulator" src="/latest" scrolling="no"></iframe>
</div>
</body>
</html>
