<!doctype html>
<html lang="en">
<head>
    <title>Newswall</title>
    <!-- Refresh this page every displayFor minutes and marks the current item as previous in query param so that we try to pick a different paper next time -->
    <meta http-equiv="refresh" content="<%=paper.displayFor * 60%>;/latest?prev=<%=paper.id%>">
    <style>
        * {
            margin: 0;
        }
        .paper-container {
            height: <%=display.height%>px;
            width: <%=display.width%>px;
            border: 1px solid;
            overflow: hidden;
        }
        .paper-container img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
        .paper-container .infobar {
            position: absolute;
            text-align: right;
            font-size: 10px;
            top: <%=display.height - 20%>px;
            left: <%=display.width - 100%>px;
        }
    </style>
</head>
<body>
    <div class="paper-container">
        <img src="/archive/<%=paper.date%>/<%=paper.id%>.png" style="transform: scale(<%=paper.scale%>)" alt="<%=paper.name%> for <%=paper.date%>">
        <% if (display.status ) { %>
            <div class="infobar"><%=display.status.battery%>% 🔋</div>
        <% } %>
    </div>
</body>
</html>
