<!doctype html>
<html lang="en">
<head>
    <%- include('header') -%>
    <%# Refresh this page every displayFor minutes and marks the current item as previous in query param so that we try to pick a different paper next time %>
    <meta http-equiv="refresh" content="<%=paper.displayFor * 60%>;/latest?prev=<%=paper.id%>">
    <style>
        * {
            margin: 0;
        }
        .paper-container {
            height: <%=display.height%>px;
            width: <%=display.width%>px;
            border: 1px solid;
            overflow: hidden;
        }
        .paper-container img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
        .paper-container .statusbar {
            <% statusBarFontSize = 10 %>
            position: absolute;
            font-size: <%=statusBarFontSize%>px;
            font-family: serif;
            padding-left: <%=statusBarFontSize%>px;
            top: <%=display.height - 2*statusBarFontSize%>px;
        }
    </style>
</head>
<body>
    <div class="paper-container">
        <img src="/archive/<%=paper.date%>/<%=paper.id%>.png" style="transform: scale(<%=paper.scale%>)" alt="<%=paper.name%> for <%=paper.date%>">
        <% if (display.status ) { %>
            <%# Display next refresh time, WiFi strength and battery level in the bottom left -%>
            <div class="statusbar">
                <% pick = (level, choices, buckets = [0, 10, 20, 40, 65, 90]) => choices[buckets.findLastIndex(x => level >= x)] %>
                <%=dayjs().add(paper.displayFor, 'minutes').format('h:mm A')%> <i class="fa-sharp fa-solid fa-rotate-right"></i>&emsp;
                ~<%=dayjs().diff(display.status.updatedAt, 'minute') + display.displayFor/2%>min ago:
                <%=display.status.wifi%>% <i class="fa-regular fa-<%=pick(display.status.wifi, ['signal-slash', 'signal-fair', 'signal-weak', 'signal-good', 'signal-strong', 'signal'])%>"></i>&emsp;
                <%=display.status.battery%>% <i class="fa-regular fa-rotate-270 fa-battery-<%=pick(display.status.battery, ['empty', 'low', 'quarters', 'half', 'three-quarters', 'full'])%>"></i>&emsp;
            </div>
        <% } %>
    </div>
</body>
</html>
