<!doctype html>
<html lang="en">
<head>
    <title>Newswall</title>
    <!-- Auto refresh page every 300s -->
    <meta http-equiv="refresh" content="300">
    <style>
        .paper-container {
            /* Displaying on a 2560x1440 e-ink display */
            height: 2560px;
            width: 1440px;
            border: 1px solid;
            overflow: hidden;
        }
        .paper-container img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    </style>
</head>
<body>
    <div class="paper-container">
        <img src="/archive/<%=paper.date%>/<%=paper.id%>.png" style="<%=paper.style%>" alt="<%=paper.name%> for <%=paper.date%>">
    </div>
</body>
</html>
