<!doctype html>
<html lang="en">
<head>
    <title>Newswall</title>
    <!-- Auto refresh page every 300s -->
    <meta http-equiv="refresh" content="300">
    <style>
        body {
            text-align: center
        }
        .paper {
            filter: grayscale(100%);
        }
    </style>
</head>
<body>
    <img class="paper" src="/archive/<%=paper.date%>/<%=paper.id%>.png" alt="<%=paper.name%> for <%=paper.date%>" style="<%=paper.style%>">
</body>
</html>
