<!doctype html>
<html lang="en">
<head>
    <title>Newswall</title>
    <!-- Refresh this page every displayFor minutes and mark the current item as a prev in url parameter so we try to pick a different paper next time -->
    <meta http-equiv="refresh" content="<%=paper.displayFor * 60%>;/latest?prev=<%=paper.id%>">
    <style>
        * {
            margin: 0;
        }
        .paper-container {
            /* Displaying on a 2560x1440 e-ink display */
            height: 2560px;
            width: 1440px;
            border: 1px solid;
            overflow: hidden;
        }
        .paper-container img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    </style>
</head>
<body>
    <div class="paper-container">
        <img src="/archive/<%=paper.date%>/<%=paper.id%>.png" style="<%=paper.style%>" alt="<%=paper.name%> for <%=paper.date%>">
    </div>
</body>
</html>
