<!doctype html>
<html lang="en">
<head>
  <title><%= device?.name || 'Newswall' %></title>
  <link rel="stylesheet" href="https://kit.fontawesome.com/a22be8527e.css" crossorigin="anonymous">
  <%# Refresh this page every displayFor minutes and mark the current item as previous in query param so that we try to pick a different paper next time %>
  <meta http-equiv="refresh" content="<%=paper.displayFor * 60%>;?prev=<%=paper.id%>">
  <style>
    * {
      margin: 0;
    }
    .paper-container {
      height: <%=display.height%>px;
      width: <%=display.width%>px;
      border: 1px solid;
      overflow: hidden;
    }
    .paper-container img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
    .paper-container .statusbar {
      <% statusBarFontSize = 10 %>
      position: absolute;
      font-size: <%=statusBarFontSize%>px;
      font-family: serif;
      padding-left: <%=statusBarFontSize%>px;
      top: <%=display.height - 2*statusBarFontSize%>px;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
  <script>
    random = (from, to) => from + Math.floor((to - from) * Math.random())

    pick = (level, choices, buckets = [0, 10, 20, 40, 65, 90]) => choices[buckets.findLastIndex(x => level >= x)]

    okular = (typeof okular !== 'undefined') ? okular : {
      <% if (!env.isProd) { %>
      RSSI: random(50, 80),
      BatteryLevel: random(5, 99),
      Temperature: random(-10, 35),
      <% } %>
    }

    updateStatus = (evt) => {
      const telemetry = {
        uuid: okular.session_uuid,
        nextRefresh: '<%=dayjs().add(paper.displayFor, 'minutes').tz(device?.timezone).format('h:mm A')%>',
        updatedAt: '<%=dayjs.duration(dayjs().diff(dayjs().add(paper.displayFor/2, 'minutes'))).humanize(true) %>',
        wifi: Math.min(Math.max(2*(100 - okular.RSSI), 0), 100), //See: https://stackoverflow.com/a/31852591/471136
        battery: okular.BatteryLevel,
        temperature: okular.Temperature,
        timeout: typeof okular.GetReloadTimeout == 'function' ? okular.GetReloadTimeout() : undefined,
        event: JSON.stringify(evt)
      }
      $('.statusbar').empty()
      if (telemetry.nextRefresh) $('.statusbar').append(`${telemetry.nextRefresh} <i class="fa-sharp fa-solid fa-rotate-right"></i>&emsp;`)
      if (telemetry.updatedAt) $('.statusbar').append(`${telemetry.updatedAt}: `)
      if (telemetry.wifi) $('.statusbar').append(`${telemetry.wifi}% <i class="fa-regular fa-${pick(telemetry.wifi, ['signal-slash', 'signal-fair', 'signal-weak', 'signal-good', 'signal-strong', 'signal'])}"></i>&emsp;`)
      if (telemetry.battery) $('.statusbar').append(`${telemetry.battery}% <i class="fa-regular fa-rotate-270 fa-battery-${pick(telemetry.battery, ['empty', 'low', 'quarter', 'half', 'three-quarters', 'full'])}>"></i>&emsp;`)
      if (telemetry.temperature) $('.statusbar').append(`${Math.round(<%=device.showFahrenheit%> ? telemetry.temperature*1.8 + 32 : telemetry.temperature)}° ${<%=device.showFahrenheit%> ? 'F' : 'C'}`)
      $.post('/log', telemetry)
    }
    document.addEventListener('device-connect', updateStatus, true)
    $(document).ready(updateStatus)

  </script>
</head>
<body>
  <div class="paper-container">
    <img src="/archive/<%=paper.date%>/<%=paper.id%>.png" style="transform: scale(<%=paper.scale%>)" alt="Showing <%=paper.id%> for <%=paper.date%>">
    <div class="statusbar"></div>
  </div>
</body>
</html>
<!--
1. Get rid of DB api
2. FE dayjs
3. event listener
4. battery icon
-->